<%- include ('partials/header.ejs') %>
<body>

   <!-- ======= About Section ======= -->
   <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="/img/personal img.jpg" class="img-fluid rounded b-shadow-a" >
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>TheNam Nguyen</span></p>
                        <p><span class="title-s">Profile: </span> <span>Developer</span></p>
                        <p><span class="title-s">Email: </span> <span>tnguy892@my.centennialcollege.ca</span></p>
                        <p><span class="title-s">Phone: </span> <span>(437) 261 0425</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS3</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PHP</span> <span class="pull-right">50%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      My name is TheNam Nguyen, I have been trained in information technology for 3 years and have experience working in the field of Web processing. Thank you for visiting my Portfolio website.
                    </p>
                    <img class="aboutImg" src="/img/Resume.png" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
            As a developer I provide the following services.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/web-design img.png"  style: width="200px": height="150px"/>
                <h2 class="s-title">Web Design</h2>
                <br>
                <p class="s-description text-center">
                  A web designer creates the layout and design of a website. In simple terms, a website designer makes a site look good.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/Web-development img.jpg"  style: width="200px": height="150px"/>
                <h2 class="s-title">Web Development</h2>
                <br>
                <p class="s-description text-center">
                  Website development is a catch-all term for the work that goes into building a website. This includes everything from markup and coding to scripting, network configuration, and CMS development.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
                  <div class="service-content">
                        <img src="/img/Graphic Design img.webp"  style: width="200px": height="150px"/>
                <h2 class="s-title">Graphic Design</h2>
                <br>
                <p class="s-description text-center">
                  Graphic design is also known as communication design, and Graphic Designers are essentially visual communicators.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

<!-- ======= Products Section ======= -->
<section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Products
              </h3>
              <p class="subtitle-a">
            Few products to reviews
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/product1.jpg"  style: width="200px": height="150px"/>
                <h2 class="s-title">OtterGrip Case - OtterBox</h2>
                <br>
                <p class="s-description text-center">
                  OtterBox’s OtterGrip Symmetry Series case was named a CES Innovation Awards Honoree for combining OtterBox’s trusted protection with a built-in grip and MagSafe compatibility. The case features a seamlessly embedded phone grip that works similarly to a PopSocket; it secures the phone and is easily pushed in and out. However, unlike PopSockets, OtterGrip’s grip pushes into the case, allowing users to store the phone comfortably in their pockets. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/Product2.jpg"  style: width="200px": height="150px"/>
                <h2 class="s-title">U-Scan – Withings</h2>
                <br>
                <p class="s-description text-center">
                  Many innovative digital health products were announced at CES 2023 including Withing’s U-Scan. This pebble-shaped device dangles by a toilet bowl to scan users’ urine for biomarkers such as hydration and vitamin levels. U-Scan’s chemical analysis of urine is connected to a smartphone app that offers suggestions like workouts, dietary changes, and recipes based on the test results.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
                  <div class="service-content">
                        <img src="/img/Product3.jpg"  style: width="200px": height="150px"/>
                <h2 class="s-title"> Electric Inline Skates – AtmosGear</h2>
                <br>
                <p class="s-description text-center">
                  The world’s first electric inline skate from French startup AtmosGear will be available in 2023. The skates easily attach to any pair of inline skates, and they come with two operational modes: remote-controlled and smart assistance. In remote-controlled mode, users operate the handheld controller to accelerate, slow down, or stop. Smart assistance mode works like a pedal-assisted e-bike where users skate as they normally would; the electric motor automatically kicks in to amplify the skating. Its battery lasts for 20 miles, and the skates can hit speeds of 20 miles per hour. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Products Section -->
     <!-- ======= Contact Section ======= -->
 <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message Us
                      </h5>
                    </div>
                    <div>
                      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        My name is TheNam Nguyen, I have been trained in information technology for 3 years and have experience working in the field of Web processing. Thank you for visiting my Portfolio website. If you have any questions please contact me via mail.
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> 941 Progress Ave, Scarborough, ON M1G 3T8</li>
                        <li><span class="bi bi-phone"></span> (437) 261 0425</li>
                        <li><span class="bi bi-envelope"></span> tnguy892@my.centennialcollege.ca</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
      <%- include ('partials/footer.ejs') %>
</body>
</html>
