<%- include ('partials/header.ejs') %>

<body>
    
 <!-- ======= Products Section ======= -->
 <section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Products
            </h3>
            <p class="subtitle-a">
          Few products to reviews
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            
            <div class="service-content">
                <img src="/img/product1.jpg"  style: width="200px": height="150px"/>
              <h2 class="s-title">OtterGrip Case - OtterBox</h2>
              <br>
              <p class="s-description text-center">
                OtterBox’s OtterGrip Symmetry Series case was named a CES Innovation Awards Honoree for combining OtterBox’s trusted protection with a built-in grip and MagSafe compatibility. The case features a seamlessly embedded phone grip that works similarly to a PopSocket; it secures the phone and is easily pushed in and out. However, unlike PopSockets, OtterGrip’s grip pushes into the case, allowing users to store the phone comfortably in their pockets. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            
            <div class="service-content">
                <img src="/img/Product2.jpg"  style: width="200px": height="150px"/>
              <h2 class="s-title">U-Scan – Withings</h2>
              <br>
              <p class="s-description text-center">
                Many innovative digital health products were announced at CES 2023 including Withing’s U-Scan. This pebble-shaped device dangles by a toilet bowl to scan users’ urine for biomarkers such as hydration and vitamin levels. U-Scan’s chemical analysis of urine is connected to a smartphone app that offers suggestions like workouts, dietary changes, and recipes based on the test results.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
                <div class="service-content">
                      <img src="/img/Product3.jpg"  style: width="200px": height="150px"/>
              <h2 class="s-title"> Electric Inline Skates – AtmosGear</h2>
              <br>
              <p class="s-description text-center">
                The world’s first electric inline skate from French startup AtmosGear will be available in 2023. The skates easily attach to any pair of inline skates, and they come with two operational modes: remote-controlled and smart assistance. In remote-controlled mode, users operate the handheld controller to accelerate, slow down, or stop. Smart assistance mode works like a pedal-assisted e-bike where users skate as they normally would; the electric motor automatically kicks in to amplify the skating. Its battery lasts for 20 miles, and the skates can hit speeds of 20 miles per hour. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Products Section -->
    <%- include ('partials/footer.ejs') %>
</body>
</html>