<%- include ('partials/header.ejs') %>

<body>
    
      
    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
            As a developer I provide the following services.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/web-design img.png"  style: width="200px": height="150px"/>
                <h2 class="s-title">Web Design</h2>
                <br>
                <p class="s-description text-center">
                  A web designer creates the layout and design of a website. In simple terms, a website designer makes a site look good.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              
              <div class="service-content">
                  <img src="/img/Web-development img.jpg"  style: width="200px": height="150px"/>
                <h2 class="s-title">Web Development</h2>
                <br>
                <p class="s-description text-center">
                  Website development is a catch-all term for the work that goes into building a website. This includes everything from markup and coding to scripting, network configuration, and CMS development.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
                  <div class="service-content">
                        <img src="/img/Graphic Design img.webp"  style: width="200px": height="150px"/>
                <h2 class="s-title">Graphic Design</h2>
                <br>
                <p class="s-description text-center">
                  Graphic design is also known as communication design, and Graphic Designers are essentially visual communicators.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
      <%- include ('partials/footer.ejs') %>
</body>
</html>