body {
    background-color: #f5f5f5;
    color: #4e4e4e;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  img {
    width: 100%;
    height: auto;
  }
  
  a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  .p-r {
    position: relative;
  }
  
  .color-a {
    text-decoration: none;
    color: #0078ff;
  }
  
  .color-d {
    color: #f5f5f5;
  }
  
  .color-text-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .box-shadow,
  .card-blog,
  .work-box,
  .service-box,
  .paralax-mf {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box-shadow-a,
  .button:hover {
    text-decoration: none;
    box-shadow: 0 0 0 4px #cde1f8;
  }
  
  .display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
  }
  
  .bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 1024px) {
    .bg-image {
      background-attachment: scroll;
    }
  }
  
  .overlay-mf {
    background-color: #0078ff;
  }
  
  .overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 8rem 0;
  }
  
  .display-table {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  /*--/ Sections /--*/
  .sect-4 {
    padding: 4rem 0;
  }
  
  .sect-pt4 {
    padding-top: 4rem;
  }
  
  .sect-mt4 {
    margin-top: 4rem;
  }
  

  /*--/ Title A /--*/
  .title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  

  
  /*------/ Box /------*/
  .box-pl2 {
    padding-left: 2rem;
  }
  
  .box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  @media (min-width: 768px) {
    .box-shadow-full {
      padding: 3rem;
    }
  }
  

  
  /*------/ Ul resect /------*/
  .ul-resect,
  .widget-tags ul,
  .widget-sidebar .list-sidebar,
  .box-comments .list-comments,
  .blog-wrapper .post-meta ul,
  .list-ico,
  .socials ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  

  
  /*------/ Button /------*/
  .button {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
  }
  
  .button:focus {
    outline: 0;
  }
  
  .button:hover {
    background-color: #0062d3;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .button-a {
    text-decoration: none;
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
  }
  
  .button-big {
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
  }
  
  .button-rouded {
    border-radius: 5rem;
  }
  
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
ul.navbar-max {
    list-style: none; /* Remove the bullet */
    display: inline; /* Display the list items inline */
    float:right;
    font-size:20px;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 17px;
    min-height:50px
    
}

ul.navbar-max li {
    display: inline-block; /* Make the list items display inline */
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;

    position: relative;

}
ul.navbar-max li::after {
content: '';
height: 3px;
width: 0;
background: #ffffff;
position: absolute;
left: 10px;
bottom:-10px;
transition: 0.5s;
}
ul.navbar-max li:hover::after {
    width: 100%;
}

body {
height: 100%;
margin: 0;
}

body {
display: flex;
flex-direction: column;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  
  
  .about-mf .about-img img {
    margin-left: 10px;
  }
  
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
  }
  
  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
  }
  
  
  .service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-box .s-description {
    color: #4e4e4e;
  }
  
  
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }
  
  
  
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .php-email-form input,
  .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .php-email-form input:focus,
  .php-email-form textarea:focus {
    border-color: #0078ff;
  }
  
  .php-email-form input {
    padding: 10px 15px;
  }
  
  .php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  
  .php-email-form button[type=submit] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  .php-email-form button[type=submit]:hover {
    background: #3393ff;
  }
  
 
  
  

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
  }
  
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  
  footer .credits {
    margin-bottom: 0;
  }
  
  footer .credits a {
    color: #fff;
  }
